<style>
    @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
  </style>
<div class="content">
    <div class="esquerdo">
        <h1 id="logo">Hamburgueria</h1>
        <p>Os melhores hambúrgueres você encontra aqui</p>
        <div class="cont">
            <h2>Sabores incríveis e deliciosos</h2>
            <span></span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam eos quidem iusto. Et, dignissimos? Maxime modi voluptas a et deserunt praesentium, sapiente earum? Repellat deleniti provident id in cum inventore?</p>
          
        </div>
    </div>
    <div class="direito">
        <div class="menuzinho">
                <ul>
                    <li><a href="http://GitHub.com/RafaGalvaoDev" target="_blank" rel="noopener noreferrer">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/rafael-galv%C3%A3o-0562381b7" target="_blank" rel="noopener noreferrer">Linkedin</a></li>
                </ul>
        </div>
       <div class="fotinho">
           
           <span></span>  

       </div>
    </div>
</div>
