<div class="menu-bar-container">
    <div class="menu-bar-logo">
        <img id="logo-microsoft" src="https://upload.wikimedia.org/wikipedia/commons/9/96/Microsoft_logo_%282012%29.svg" alt="logo da microsoft">
   
        <img id="logo-xbox" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW4ESm?ver=c63e" alt="logo da xbox store">
    </div>
    <div class="menu-bar-item">
        <ul>
            <li><a href="https://www.github.com/RafaGalvaoDev" target="_blank">Github</a></li>
            <li><a href="https://www.linkedin.com/in/rafael-galv%C3%A3o-0562381b7" target="_blank">Linkedin</a></li>
        </ul>
    </div>
</div>