body{
    background-color: wheat;
}

.coisas{
    padding: 10px 100px;
    margin: 10px 100px;
}
.aq{
    margin: 30px;
    padding: 40px;
    color: red;
}

.gif{
    margin: 100px 100px;
    margin: 100px 100px;

}